body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252525;
}

h1 {
    color: #ffffff;
}

label {
    color: #9f9f9f;
}

#botao {
    background-color: #008ed4;
}

#botao:hover {
    background-color: #25b0f3;
}